.search {
    width: 800px;
    height: 80px;
    margin: 0 auto;
    margin-top: 50px;
}

dd {
    float: left;
}

.search_field {
    height: 30px;
    width: 600px;
    font-size: 20px;
}

.search_button {
    margin-left: 64px;
    height: 36px;
    width: 70px;
    line-height: 36px;
}