@(todo: Todo,todoForm: Form[Todo])

@import helper._

@main("ToDoApp"){
    <div class="register_todo">
        <p>Todoの内容を更新する</p>
        @form(routes.Application.create()) {
        <div class="form">
            <div class="post">
                @inputText(todoForm("title"),'class -> "todo_form",'_label -> "Todo名",'_showConstraints -> false, 'placeholder -> todo.title )
            </div>
            <div class="deadline">
                @inputText(todoForm("deadline"), 'class -> "deadline_form", '_label -> "期限",'_showConstraints -> false, 'placeholder -> todo.created_at.format("yyyy/MM/dd"))
            </div>
        </div>
        <input type="submit" value="ToDoの更新" class="add button"> 
        }
    </div>
}