@(message: String)

@main("TodoApp") {

    <div class="register_todo">
        <p>新しいToDoを作成する</p>
        <div class="form">
            <div class="post">
                <label for="name" class="todo_name">ToDo名</label>
                <input type="text" name="todo_name">
            </div>
            <div class="deadline">
                <label for="deadline">期限</label>
                <input type="text" name="deadline">
            </div>
        </div>
        <div class="add_button">
            <input type="submit" value="ToDoの追加">
        </div>
    </div>

    <div class="todos">
        <div class="todo">
            <div class="contents">
                <ul>
                    <li>todoの内容</li>
                    <li>期限:</li>
                    <li>作成日:</li>
                </ul>
            </div>            
            <div class="edit">
                <input type="submit" value="Edit">
            </div>
            <div class="state">
                <input type="button" value="未完了">
            </div>
        </div>       
    </div>

}
