@(todos: List[Todo],todoForm: Form[Todo])

@import helper._

@main("TodoApp") {

    <div class="register_todo">
        <p>新しいToDoを作成する</p>
        @form(routes.Application.create()) {
        <div class="form">
            <div class="post"> 
                @inputText(todoForm("title"),'class -> "todo_form",'_label -> "Todo名")
            </div>
            <div class="deadline">
                @inputText(todoForm("deadline"), 'class -> "deadline_form", '_label -> "期限")
            </div>
        </div>
        <input type="submit" value="ToDoの追加" class="add button">
        }
    </div>

    <div class="todos">
        <div class="todo">
            <div class="contents">
                <ul>
                @for(todo <- todos){
                    <li>@todo.title</li>
                }
                    <li>期限:</li>
                    <li>作成日:</li>
                </ul>
            </div>            
            <div class="edit">
                <input type="submit" value="Edit" class="button edit">
            </div>
            <div class="state">
                <input type="button" value="未完了" class="button state">
            </div>
        </div>       
    </div>

   

}
