@(todos: List[Todo],todoForm: Form[Todo])

@import helper._

@main("TodoApp") {

    <div class="register_todo">
        <p>新しいToDoを作成する</p>
        @form(routes.Application.create()) {
        <div class="form">
            <div class="post"> 
                @inputText(todoForm("title"),'class -> "todo_form",'_label -> "Todo名",'_showConstraints -> false)
            </div>
            <div class="deadline">
                @inputText(todoForm("deadline"), 'class -> "deadline_form", '_label -> "期限",'_showConstraints -> false)
            </div>
        </div>
        <input type="submit" value="ToDoの追加" class="add button">
        }
    </div>

    <div class="todos">
        @if(todos.size() != 0){
             @for(todo <- todos){
                  @todo_index(todo)
             }
        } else {    
            <h3>ToDoが登録されていません。</h3>
        }
    </div>

}
