@(title: String)(content: Html)

@import helper._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/index.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/search.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/button.js")"></script>
    </head>
    <body>
        <div class="header">
            <h1>ToDo</h1>
            @form(routes.Application.search()){
            <input type="button" value="検索" class="search_button">
            }
        </div>
        <div class="main">
             @content
        </div>        
    </body>
</html>
