@(findForm: Form[Application.FindForm], datas: List[Todo])

@import helper._

@main("ToDoApp") {
    @form(routes.Application.search()) {
    <div class="search">
        @inputText(findForm("input"), '_label -> "", 'class -> "search_field", 'placeholder -> "検索")
        <input type="submit" value="検索" class="button search_button">
    </div>
    }

   <div class="todos">
        @if(datas.size() != 0) {
            <h3>Todoが@(datas.size())件見つかりました。</h3>
            @for(data <- datas) {
                 @todo_index(data)
            } 
        } else {
            <h3>対象のTodoはありません。</h3>
        }
   </div>
    
}