@(todo: Todo)

@import helper._

<div class="todo">
    <div class="contents">
        <ul>
            <li>Todo内容:
                <p>@todo.title</p>
            </li>
            <li>期限:
                <p class="deadline_time">@todo.deadline.format("yyyy/MM/dd")</p>
            </li>
            <li>
                @if(todo.updated_at == todo.created_at){
                    作成日:
                    <p class="post_time">@todo.created_at.format("yyyy/MM/dd")</p>
                } else {
                    更新日:
                    <p class="post_time">@todo.updated_at.format("yyyy/MM/dd")</p>
                }
            </li>
            <li class="progress">進捗:
                <progress min="0" max="100" value="@{todo.rate}">@todo.rate%</progress>
            </li>
        </ul>
    </div>
    <div class="edit">
        @form(routes.Application.edit(todo.id)) {
        <input type="submit" value="Edit" class="button edit" id="edit_button">
        }
    </div>
    <div class="state">
        @form(routes.Application.update(todo.id)) {
            @if(todo.state == 1) {
                <input type="hidden" name="state" value="0">
                <input type="hidden" name="title" value="@{todo.title}">
                <input type="hidden" name="deadline" value="@{todo.deadline.format("yyyy/MM/dd")}">
                <input type="hidden" name="rate" value="@{todo.rate}">
                <input type="submit" value="完了" class="button state" id="finish_button">
            } else {
                <input type="hidden" name="state" value="1">
                <input type="hidden" name="title" value="@{todo.title}">
                <input type="hidden" name="deadline" value="@{todo.deadline.format("yyyy/MM/dd")}">
                <input type="hidden" name="rate" value="@{todo.rate}">
                <input type="submit" value="未完了" class="button state" id="state_button">
            }
        }
    </div>
</div>

